<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>
        <%=title%>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
</head>

<body>
    <header class="navbar navbar-bright navbar-fixed-top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
                <a href="/" class="navbar-brand">Home</a>
            </div>
            <nav class="collapse navbar-collapse" role="navigation">
                <ul class="nav navbar-nav">
                    <% for(i=0 ; i< nav.length ; i++){ %>
                        <li>
                            <a href="<%=nav[i].link %>">
                                <%=nav[i].text %>
                            </a>
                        </li>
                        <% } %>
                </ul>
                <ul class="nav navbar-right navbar-nav">
                    <li>
                        <a href="/">Logout</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div id="masthead">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>
                        <%=title%>
                            <p class="lead">
                                <%=description%>
                            </p>
                    </h1>
                </div>
                <div class="col-md-5">
                </div>
            </div>
        </div>
        <!-- /cont -->

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="top-spacer"> </div>
                </div>
            </div>
        </div>
        <!-- /cont -->

    </div>


    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <% if(status == "deleted"){ %>
                    <div class="alert alert-success" role="alert">
                        Successfully deleted Author.
                    </div>
                    <% } %>

                        <% if(whois != "admin-of-library"){ %>
                            <div class="" role="alert">
                                <form action="/dashboard/deleteauthors" method="POST" id="formsubmitlogin">
                                    <div class="form-group"><input required class="form-control" name="whois" value="" placeholder="Type the password to manage authors"></div><button type="submit" class="btn btn-danger">Login as Admin to manage authors</button></form>
                            </div>
                            <% } else{ %>
                                <div class="panel">
                                    <div class="panel-body">

                                        <% for(i=0 ; i< authors.length ; i++){ %>
                                            <div class="row">
                                                <br>
                                                <div class="col-md-2 col-sm-3 text-center">
                                                    <a class="story-title"><img alt="logo" src="/uploads/<%=authors[i].image %>" style="width:100px;height:100px" class="img-circle"></a>
                                                </div>
                                                <div class="col-md-10 col-sm-9">
                                                    <h3>
                                                        <%=authors[i].author %>
                                                    </h3>
                                                    <div class="row">
                                                        <div class="col-xs-9">
                                                            <h4>
                                                                <small style="font-family:courier,' new courier ';" class="text-muted"><a href="/dashboard/updateauthors?id=<%=authors[i]._id %>" class="btn btn-success">Update Author</a></small>
                                                                <form action="/dashboard/deleteauthor" method="POST" id="formsubmitlogin">
                                                                    <div class="form-group"><input type="hidden" required class="form-control" name="id" value="<%=authors[i].id %>"></div><button type="submit" class="btn btn-danger" onclick="return confirm(`Are you sure to Delete this author? You cannot undo this.💀`)">Delete this Book</button></form>
                                                            </h4>
                                                        </div>
                                                        <div class="col-xs-3"></div>
                                                    </div>
                                                    <br><br>
                                                </div>
                                            </div>
                                            <hr>
                                            <% } %>



                                    </div>
                                </div>

                                <% } %>

            </div>
            <!--/col-12-->
        </div>
    </div>


    <hr>

    <div class="container" id="footer">
        <div class="row">
            <div class="col col-sm-12">

                <h1>Follow Us</h1>
                <div class="btn-group">
                    <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
                    <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
                    <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
                </div>

            </div>
        </div>
    </div>

    <hr>

    <hr>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <ul class="list-inline">
                        <li><i class="icon-facebook icon-2x"></i></li>
                        <li><i class="icon-twitter icon-2x"></i></li>
                        <li><i class="icon-google-plus icon-2x"></i></li>
                        <li><i class="icon-pinterest icon-2x"></i></li>
                    </ul>

                </div>
                <div class="col-sm-6">
                    <p class="pull-right">Built with <i class="icon-heart-empty"></i> by <a href="https://eldhose.org" target="_blank">Eldhose</a></p>
                </div>
            </div>
        </div>
    </footer>
    <!-- script references -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>